<div id="{{ partial.patternPartial }}" class="sg-subtype c-patternSubType">
  <h2 class="c-patternSubType__title">
    <div class="o-wrapper o-wrapper--full">
      <a href="../../patterns/{{ partial.patternLink }}" class="patternLink c-patternSubType__link" data-patternpartial="{{ partial.patternPartial }}">
        {{ partial.patternName }}
      </a>
    </div>
  </h2>
  
  <div class="sg-pattern-body c-patternSubType__description">
    {{ partial.patternDesc | raw }}
  </div>
</div>