<div id="{{ partial.patternPartial }}" class="sg-subtype">
  
  <h1 class="c-headline c-headline--capitalize c-headline--large">
    <span class="c-headline__text">
      {{ partial.patternName }}
    </span>
    
    <a href="../../patterns/{{ partial.patternLink }}" class="patternLink u-margin-left" data-patternpartial="{{ partial.patternPartial }}" title="View as a standalone page">
      <svg class="o-icon" viewBox="0 0 24 24">
        <use xlink:href="#external" />
      </svg>
    </a>
  </h1>
  
  
  <div class="sg-pattern-body">
    {{ partial.patternDesc | raw }}
  </div>
</div>