<div id="{{ partial.patternPartial }}" class="sg-subtype">
  
  <h1 class="c-headline c-headline--capitalize c-headline--large">
    <span class="c-headline__text">
      {{ partial.patternName }}
    </span>
    
    <a href="../../patterns/{{ partial.patternLink }}" class="patternLink u-margin-left" data-patternpartial="{{ partial.patternPartial }}" title="View as a standalone page">
      {% include "01-atoms/icons/_icon.twig" with {
        icon: {
          name: "external"
        }
      } %}
    </a>
  </h1>
  
  
  <div class="sg-pattern-body">
    {{ partial.patternDesc | raw }}
  </div>
</div>
