<div id="{{ partial.patternPartial }}" class="sg-subtype">
  <a href="../../patterns/{{ partial.patternLink }}" class="patternLink" data-patternpartial="{{ partial.patternPartial }}">
    <h1 class="c-heading c-heading--capitalize c-heading--xxlarge">
      {{ partial.patternName }}
    </h1>
  </a>
  
  
  <div class="sg-pattern-body">
    {{ partial.patternDesc | raw }}
  </div>
</div>
